<footer class="bg-light-gray footer-transform-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <p class="copyrights px-0 py-5">© 2021 Learning EngLish. Made with love by <a href="javascript:void(0)">Me</a></p>
            </div>
        </div>
    </div>
</footer>