<div class="coursedetail">
    <div class="courseiamge">
        <img src="image/test.jpg" alt="courseiamge">
    </div>
    <div class="courseinfo">
        
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <h3>Author</h3>
        <p>Alex sander</p>
        <h3>Description</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea at recusandae corrupti quis minima officiis vel eaque sed incidunt ut in voluptate, atque quaerat ipsam esse accusamus saepe dolorum nostrum!</p>
        <h3>Timetable</h3>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Week</th>
      <th scope="col">Day</th>
      <th scope="col">Day</th>
      <th scope="col">Day</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>11</td>
      <td>11</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
        <h3>Contact</h3>
        <p>alex@gmail.com</p>
        <p>0392038849</p>
        
        
        


        <h3>Video preview</h3>
        <div class="videopreview">
            
        
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/juKd26qkNAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
        </div>
    
    <h3>Price</h3>
        <p>10000$</p>
        <div class="paymentpaypal">
          <div id="smart-button-container">
            
                <div id="paypal-button-container"></div>
            
          </div>
        </div>

    </div>


    


        <h3>other course</h3>
    <div class="othercourse">
        <div class="listcourse">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="image/test.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="../coursedetail" class="btn btn-primary">Course Detail</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="image/test.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="image/test.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="image/test.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
</div>
    </div>
</div>