
<div class="row" id="title-exercise">
            <div class="col-md-12">
                <div class="main-title wow fadeIn" data-wow-delay="300ms">
                    <h2> Basic <b>Exercise</b> </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sodales lobortis vehicula. Aliquam sodales turpis a neque sagittis, condimentum imperdiet risus luctus. Praesent cursus non risus in tempor.</p>
                </div>
            </div>
</div>
<div class="container" id="containerexercise">
<div class="row">
            
            <div class="col-md-3 col-sm-12 mb-xs-2rem">
                <a href="#">
                <div class="about-box center-block wow zoomIn" data-wow-delay="400ms">
                    <div class="about-opacity-icon"> <i class="fas fa-microphone" aria-hidden="true"></i> </div>
                    <div class="about-main-icon pb-4">
                    
                    <i class="fas fa-microphone" aria-hidden="true"></i>
                    </div>
                    <h5 class="mb-0">Speaking Test</h5>
                    
                </div>
                </a>
            </div>
            
            <div class="col-md-3 col-sm-12 mb-xs-2rem">
                <a href="#">
                <div class="about-box center-block wow zoomIn" data-wow-delay="500ms">
                    <div class="about-opacity-icon"> <i class="fas fa-eye" aria-hidden="true"></i> </div>
                    <div class="about-main-icon pb-4">
                    <i class="fas fa-eye" aria-hidden="true"></i>
                    
                    </div>
                    <h5 class="mb-0">Reading Test</h5>
                </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-12 mb-xs-2rem">
                <a href="#">
                <div class="about-box center-block wow zoomIn" data-wow-delay="600ms">
                    <div class="about-opacity-icon"> <i class="fas fa-pencil-alt" aria-hidden="true"></i> </div>
                    <div class="about-main-icon pb-4">
                    
                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </div>
                    <h5 class="mb-0">Writing Test</h5>
                </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-12">
                <a href="#">
                <div class="about-box center-block wow zoomIn" data-wow-delay="700ms">
                    <div class="about-opacity-icon"> <i class="fas fa-headphones-alt" aria-hidden="true"></i> </div>
                    <div class="about-main-icon pb-4">
                    
                    <i class="fas fa-headphones-alt" aria-hidden="true"></i>
                    </div>
                        <h5 class="mb-0">Listening Test</h5>
                </div>
                </a>
            </div>
        </div>
</div>