<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page Title -->
    <title>LearnEnglish</title>

    <!--orther -->
    <!-- Favicon -->
    <link rel="icon" href="image/icontittle.png"> 
    <!-- Bundle -->
    <link rel="stylesheet" href="vendor\css\bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="vendor\css\jquery.fancybox.min.css">
    <link rel="stylesheet" href="vendor\css\owl.carousel.min.css">
    <link rel="stylesheet" href="vendor\css\swiper.min.css">

    <link rel="stylesheet" href="dentist\css\cubeportfolio.min.css">
    <!-- Revolution Slider CSS Files -->
    <link rel="stylesheet" href="dentist\css\navigation.css">
    <link rel="stylesheet" href="dentist\css\settings.css">
    <!-- Slick CSS Files -->
    <link rel="stylesheet" href="dentist\css\slick.css">
    <link rel="stylesheet" href="dentist\css\slick-theme.css">
    <!-- Select -->
    <link rel="stylesheet" href="dentist\css\select2.min.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="dentist\css\style.css">
    <!-- Custom Style CSS File -->
    <link rel="stylesheet" href="dentist\css\custom.css">
    
    <link rel="stylesheet" href="/css/app.css">
</head>
<body data-spy="scroll" data-target=".navbar-nav" data-offset="90">

 <div class="steamroom-container">
     <div class="video-container">

     </div>
     <div class="chat-container">
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore voluptates, praesentium reprehenderit fugiat sit omnis aperiam, porro aliquam totam animi expedita. Reiciendis, odit. Impedit accusamus fugit quisquam eum eius atque.</p>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>

        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
       
     </div>
     <div class="stream-menu">
         <div class="menu-button">
             <div class="btn-video">
                 <button id="btnshowvideo" class="btn btn-light" onclick="showvideo()">
                     <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                    </svg>  

                 </button>

                <button id="btnhidevideo" class="btn btn-danger" onclick="hidevideo()">
                     <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-camera-video-off" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l.714 1H9.5a1 1 0 0 1 1 1v6a1 1 0 0 1-.144.518l.605.847zM1.428 4.18A.999.999 0 0 0 1 5v6a1 1 0 0 0 1 1h5.014l.714 1H2a2 2 0 0 1-2-2V5c0-.675.334-1.272.847-1.634l.58.814zM15 11.73l-3.5-1.555v-4.35L15 4.269v7.462zm-4.407 3.56-10-14 .814-.58 10 14-.814.58z"/>
                    </svg>

                 </button>


                 <button id="btnshowmicro" class="btn btn-light" onclick="showmicro()">
                     <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                        <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                        <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
                    </svg>
                 </button>

                 <button id="btnhidemicro" class="btn btn-danger" onclick="hidemicro()">
                     <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-mic-mute" viewBox="0 0 16 16">
                        <path d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0v1zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4zm3-9v4.879l-1-1V3a2 2 0 0 0-3.997-.118l-.845-.845A3.001 3.001 0 0 1 11 3z"/>
                        <path d="m9.486 10.607-.748-.748A2 2 0 0 1 6 8v-.878l-1-1V8a3 3 0 0 0 4.486 2.607zm-7.84-9.253 12 12 .708-.708-12-12-.708.708z"/>
                    </svg>
                 </button>
             </div>
             <div class="btn-micro">

             </div>
         </div>
         <div class="chat-input">
             <input type="text" name="chatinput" id="chatinput" class="form-control">
             <button class="btn btn-light" id="btnsendchat">Send</button>
         </div>
     </div>
 </div>


<!-- JavaScript -->
<script src="vendor\js\bundle.min.js"></script>

<!-- Plugin Js -->
<script src="vendor\js\jquery.fancybox.min.js"></script>
<script src="vendor\js\owl.carousel.min.js"></script>
<script src="vendor\js\swiper.min.js"></script>
<script src="vendor\js\jquery.cubeportfolio.min.js"></script>
<script src="vendor\js\jquery.appear.js"></script>
<script src="vendor\js\parallaxie.min.js"></script>
<script src="vendor\js\wow.js"></script>
<script src="dentist\js\select2.min.js"></script>
<!-- Slick JS File -->
<script src="dentist\js\slick.min.js"></script>

<!-- REVOLUTION JS FILES -->
<script src="vendor\js\jquery.themepunch.tools.min.js"></script>
<script src="vendor\js\jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="vendor\js\extensions\revolution.extension.actions.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.carousel.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.kenburn.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.layeranimation.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.migration.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.navigation.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.parallax.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.slideanims.min.js"></script>
<script src="vendor\js\extensions\revolution.extension.video.min.js"></script>

<!--contact form-->
<script src="vendor\js\contact_us.js"></script>

<!-- Google Map Api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgIfLQi8KTxTJahilcem6qHusV-V6XXjw"></script>
<script src="dentist\js\maps.min.js"></script>

<!-- custom script -->
<script src="dentist\js\script.js"></script>

<script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
{{!-- <script src="js/stream.js"></script> --}}
  <script>
      function showvideo(){
          $("#btnshowvideo").hide();
          $("#btnhidevideo").show();
      }

      function hidevideo(){
          $("#btnshowvideo").show();
          $("#btnhidevideo").hide();
      }

      function showmicro(){
          $("#btnshowmicro").hide();
          $("#btnhidemicro").show();
      }

      function hidemicro(){
          $("#btnshowmicro").show();
          $("#btnhidemicro").hide();
      }
  </script>


</body>
</html>