<!--Section: Contact v.2-->
<section class="mb-4">

    <div class="row" id="thankyou">
            <div class="col-md-12">
                <div class="main-title wow fadeIn" data-wow-delay="300ms">
                    <h2> <b>Thank</b> You</h2>
                    <p>Thank you to contact us.</p>
                </div>
            </div>
    </div>
</section>
<!--Section: Contact v.2-->